@use '../../common/colors.scss' as *;

.card-item {
  background: $secondary-color;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }
}

.card-top {
  height: 400px;

  img {
    width: 100%;
    height: 100%;
  }
}

.card-bottom {
  padding: 20px;
}

.card-info {
  color: $font-primary;

  div {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    // height: 70px;
    // white-space: nowrap;
    // width: 99%;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }
}
