@use '../../common/colors.scss' as *;

.movie-list {
  margin: 20px 0;
  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400px;
  }
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

@media only screen and (max-width: 1100px) {
  .movie-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .movie-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .movie-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
