@use '../../common/colors.scss' as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  background-color: $secondary-color;
  color: $font-primary;
}
